{%extends 'base2.html'%}
{%load static%}

{%block content%}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Transaction List</h4>
                        <div class="d-flex align-items-center">

                        </div>
                    </div>
                    <div class="col-7 align-self-center">
                        <div class="d-flex no-block justify-content-end align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="#">Home</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Transactions</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- basic table -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Transactions</h4>
                                <div class="row m-t-40">
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card card-hover">
                                            <div class="box bg-info text-center">
                                                <h1 class="font-light text-white">{{trade.count}}</h1>
                                                <h6 class="text-white">Total trade made</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card card-hover">
                                            <div class="box bg-danger text-center">
                                                <h1 class="font-light text-white">{{ctrade.count}}</h1>
                                                <h6 class="text-white">Running trade</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card card-hover">
                                            <div class="box bg-success text-center">
                                                <h1 class="font-light text-white">{{ptrade.count}}</h1>
                                                <h6 class="text-white">Trade completed</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                    <div class="col-md-6 col-lg-3 col-xlg-3">
                                        <div class="card card-hover">
                                            <div class="box bg-warning text-center">
                                                <h1 class="font-light text-white">${{request.user.account.balance}}</h1>
                                                <h6 class="text-white">Income from Trading</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Column -->
                                </div>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Status</th>
                                                <th>Title</th>
                                                <th>Plan</th>
                                                <th>Profit</th>
                                                <th>Created On</th>
                                                <th>Date Due</th>
                                                <th>Plan return</th>
                                                <th>Cycle completed</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                {%for trad in trade%}
                                                {%if trad.profited%}
                                                <td><span class="label label-success">Approved</span></td>

                                                {%else%}
                                                <td><span class="label label-warning">Pending</span></td>

                                                {%endif%}
                                                <td>{{trad.deposit.plan.name}} Mining</td>
                                                <td>{{trad.deposit.plan.name}}</td>
                                                <td>{{trad.profit}}</td>
                                                <td>{{trad.time_now|date:'M,D,Y'}}</td>
                                                <td>{{trad.due_time|date:'M,D,Y'}}</td>
                                                <td>{{trad.deposit.plan.percentage_return}}%</td>
                                                <td>{{trad.count}} of 30</td>
                                            </tr>
                                            {%endfor%}
                                            <!-- <tr>
                                                <td><span class="label label-danger">Cancelled</span></td>
                                                <td>AdminX Theme Side Menu Open OnClick</td>
                                                <td>1234251</td>
                                                <td>AdminX Admin</td>
                                                <td>Nirav Joshi</td>
                                                <td>2022/08/11</td>
                                                <td>Steve</td>
                                            </tr>
                                            <tr>
                                                <td><span class="label label-success">Approved</span></td>
                                                <td>Admin-Pro Theme Side Menu Open OnClick</td>
                                                <td>1020345</td>
                                                <td>Admin-Pro</td>
                                                <td>Vishal Bhatt</td>
                                                <td>2022/08/01</td>
                                                <td>John</td>
                                            </tr>
                                             -->
                                        </tbody>
                                    </table>
                                    <ul class="pagination float-right">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                                        </li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {%endblock content%}
