<!DOCTYPE html>
<html dir="ltr">
{%load static%}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="#">
    <title>HFTM - Trade</title>
    <!-- Custom CSS -->
    <link href="{%static 'users/dist/css/style.min.css'%}" rel="stylesheet">

</head>

<body style="margin:0px; background: #f8f8f8; ">
    <div class="main-wrapper">

        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
            <div class="auth-box">
                <div>
                    <div class="logo">
                       

                    <!-- Form -->
                        <div class="row">
                            <div class="col-12">
                                <form class="form-horizontal m-t-20" method="post">
                                    <div class="form-group row">
                                                        <div class="col-12">
                <h1 id = 'h1'>403</h1>  
                <style>
                    #h1{
                        font-weight: 800;
                    
                    }
                </style>  
                <p><strong>0oops!! </strong>> page your are looking for is restricted to certain users</p>                                   
                </div>
                                                    </div>
                                                    <div class="form-group text-center">
                                        <div class="col-xs-12 p-b-20">
                                            <a href="{%url 'home'%}" class="btn bg-primary" style="color: #fff;"  type="btn" >Back Home</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="{%static 'users/main.js'%}"></script> -->
</body>

</html>